$vin-blue: #5bb7db;
$vin-green: #60b044;
$vin-red: #ff0000;

body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  color: #4d4d4d;
  margin: 0;
  padding: 0;
}

td {
  padding: 12px;
}

h2 {
  color: $vin-blue;
}

.channels-list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.MuiPaper-root {
  width: 100%;
  margin-bottom: .5vw;

  &:hover {
    .MuiCardMedia-root {
      transform: scale(1.05);
    }

    .MuiCardContent-root {
      font-weight: bold;
    }
  }
}

.MuiCardMedia-root {
  width: 100%;
  height: 85px;
  max-width: 100%;
  transition: transform .2s;
  background-size: contain !important;
  margin-top: 10px;
}

.MuiCardContent-root {
  font-size: 14px;
  text-align: center;
}

.loading-progress {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}