.feed-section {
  transition: width .2s;
  width: 60%;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 40px;

  &.show-statistic {
    height: calc(100vh - 40px);

    .feed-section__footer {
      transform: translateY(0);
    }
  }

  &__info{
    line-height: 30px;
    height: 30px;
    font-size: 16px;
    text-align: center;
    border-bottom: 1px solid #eaeaea;
    padding: 10px 20px;
    font-weight: bold;
    flex-grow: 0;
  }

  .MuiList-padding {
    overflow: auto;
    height: calc(100vh - 70px);
    flex-grow: 0;
  }

  &__footer {
    background: #eaeaea;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    line-height: 30px;
    padding: 5px 15px;
    border-left: 1px solid #ccc;
    transition: transform .2s;;
    transform: translateY(110%);
  }
}