$gutter: 15px;

.container {
  width: 100%;
}

.app-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.app-sidebar {
  width: 15vw;
  height: calc(100vh - #{$gutter * 2});
  overflow-y: auto;
  flex-shrink: 0;
  min-width: 200px;
  max-width: 600px;
  padding: $gutter;
  box-shadow: 1px 1px 5px #ccc;
}

.add-new-channel-form {
  &__btn {
    margin-bottom: 15px !important;
    width: 100%;
  }
}

.app-body {
  position: relative;
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;

  &.collapsed {
    .feed-section {
      width: 40%;
    }

  }
}

.message-details {
  overflow: auto;
  height: calc(100vh - 25px);
  width: 60%;
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #eaeaea;
  box-shadow: 1px 1px 3px #ccc;
  transition: width .2s;

  &.no-data {
    color: transparent;
    width: 40%;

    * {
      display: none;
    }
  }

  .parsed-content {
    word-wrap: break-word;
    white-space: wrap;

    pre {
      overflow: auto;
      margin: 0;
      padding: 0;
    }

    * {
      max-width: 90%;
    }
  }
}